@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #0a0a0a;
  --primary: #05e072;
  --primary-dark: #008236;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #f2f2f2;
  --sidebar-border: #333333;
  --sidebar-accent: #1a1a1a;
  --muted: #666666;
  --terminal: #00ff00;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-muted: var(--muted);
  --color-terminal: var(--terminal);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

/* Custom Scrollbar for that industrial feel */
::-webkit-scrollbar {
  width: 12px;
  background: #e5e5e5;
  border-left: 1px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #05e072;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
